.register-form-container {
  padding-top: 80px;
  margin-bottom: 40px;
}
.register-form {
  width: 70%;
  padding: 20px 50px;

  text-align: left;
}

@media only screen and (max-device-width: 1080px) {
  .register-form {
    border: 1px solid #2b2d42;
    width: 90%;
    padding: 50px 20px;
    text-align: left;
  }
}
