.left {
  width: 55%;
}
.login {
  width: 32%;
  padding: 45px;
  margin: 55px 0px;
}
.login-page {
  padding-top: 60px;
}

@media only screen and (min-device-width: 1080px) {
  .login-page {
    display: flex;
  }
}
@media only screen and (max-device-width: 1079px) {
  .login {
    display: block;
    width: 100%;
  }
  .left {
    display: block;
    width: 100%;
  }
}
