/* Footer Start */

.first-row {
  width: 53%;
}

.second-row {
  width: 44%;
  margin-left: 35px;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* ----------- Footer End ----------- */

/* ---------- Navbar Start ------------- */
.navbar {
  margin-bottom: 30px;
  width: 100%;
  z-index: 1;
}

svg {
  width: 25px;
}

.sidebar {
  height: 100vh;
  background-color: #c6cbc6;
  position: fixed;
  top: 66px;
  transition: width 0.3s;
  overflow: hidden;
  width: 0;
  align-items: center !important;
}
.row.sidebar-con {
  --bs-gutter-x: 0rem !important;
  flex-wrap: nowrap;
}

.sidebar.expanded {
  display: block;
  transition: width 0.3s;
  width: 300px;
}

input:focus {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.rightsidebar {
  display: none;
  padding: 30px;
  width: 300px;
  background-color: #cacdcd !important;
  position: absolute;
  right: 0;
  top: 67px;
  border-radius: 12px;
}
.rightsidebar.expanded {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.start,
.end {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.search_input {
  width: 800px;
  height: 50px;
  background-color: #ebe8e8;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0;
}

.show {
  z-index: 0 !important;
}
.modal.fade .modal_container {
  transform: none !important; /* Disable the default Y translation */
  transition: none !important; /* Disable any transition/animation */
}
/* Change the page background to blue when modal is shown */
.modal-open {
  background-color: blue !important;
  transition: background-color 0.3s ease;
}

/* Optional styling for the modal's backdrop */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
}

/* ------- Navbar End --------- */

/* -------- Not Found Start -------- */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

/* ------- Not Found End ------------ */
