
/* copy--paste */
.footer_section {
  /* height: 320px;  */
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;

  /* Prevents content overflow */
}
.first-row {
  width: 52%;
}
.white-line {
  background-color: #fff;
  width: 2px;
  height: 210px;
  margin-top: 14px;
}
.parent-footer-row {
  display: flex;
}
.second-row {
  width: 44%;
  margin-left: 35px;
}
.footer_iconHover__dT7zu {
  padding: 3% !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
