.heading {
  margin-bottom: 22px;
  color: white;
}

.text {
  margin-top: 24px;
  line-height: 2.5;
}

.footer-column {
  width: 11.33333%;
  font-size: 1rem;
  line-height: 2;
}

@media only screen and (min-device-width: 1080px) {
  .col-lg-5 {
    padding-right: 200px;
  }
}
/* copy--paste */
.footer_section {
  /* height: 320px;  */

  bottom: 0;
  left: 0;

  overflow: hidden; /* Prevents content overflow */
}
.first-row {
  width: 52%;
}
.white-line {
  background-color: #fff;
  width: 2px;
  height: 210px;
  margin-top: 14px;
}
.parent-footer-row {
  display: flex;
}
.second-row {
  width: 44%;
  margin-left: 35px;
}
.footer_iconHover__dT7zu {
  padding: 3% !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
